body{
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	color:grey;
	margin: 0 auto;
	background-color: rgb(250, 250, 250);
	font-weight: lighter;
	margin: 0 1rem;
	text-align: center;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding-left: 0;
}

p{
	text-align: center;
}

/* css of header */
.main-header {


}
.main-header h1 {
	text-align: center;
	color: black;
	/* font-weight:1000; */
}

.nav a {
	display: block;
	text-align: center;
	padding: 0.5rem 0.5rem;
	margin-bottom: 0.5rem;
	background-color: white;
	color: black;
	font-weight: bolder;
}

.profile-image {
	display: block;
  width: 250px;
	margin-left: auto;
	margin-right: auto;
}












