body{
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	color:grey;
	margin: 0 auto;
	background-color: rgb(250, 250, 250);
	font-weight: lighter;
	margin: 0 5%;
	text-align: center;
}

a {
	text-decoration: none;
}
.header-nav a:hover {
	color: skyblue;
	transition: 0.3s;
}

ul {
	list-style: none;
	padding-left: 0;
}

h1, h3, h5 {
	font-weight: bold;
}

p {
	text-align: center;
	margin: 0 auto;
}

/* css of header */
/* .main-header {
	padding-bottom: 1rem;
} */

.header-name {
	text-align: center;
	color: black;
	/* font-weight:1000; */
}
.header-nav {
	justify-content: flex-end;
}
.header-nav a {
	display: block;
	text-align: center;
	padding: 0.5rem 0.5rem;
	margin-bottom: 0.5rem;
	background-color: white;
	color: black;
	font-weight: bolder;
}

.intro {
	padding-bottom: 1rem;
	padding-top: 1rem;
	background-color: white;
	margin-bottom: 1rem;
}

.profile-image {
	margin: auto;
	max-width: 60%;
	padding-bottom: 0.5rem;
}

.skills {
	padding-bottom: 2rem;
	padding-top: 1rem;
	background-color: white;
	margin-bottom: 1rem;
}

.portfolio {
	padding-top: 1rem;
	background-color: white;
}

.portfolio h2 {
	margin-bottom: 2rem;
}
h4 {
	color: skyblue;
}
.portfolio img {
	max-width: 100%;
}

.portfolio li{
	padding-bottom: 1rem;
}

.portfolio p {
	width: 70%;
}

.contact {
	padding-top: 1rem;
	padding-bottom: 2rem;
}
.contact h5 {
	font-weight: bold;
}

.contact p {
	margin-top: 1rem;
}

.info {
	font-weight: bolder;
	padding-left: 1rem;
}

.main-footer {
 border-top:1px solid rgb(204, 201, 201);
 color: black; 
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.footer-nav a{
	display: none;
}

.footer-nav-mobile {
	font-weight: bolder;
	color: black;
	align-self: center;
	margin-right: 0;
}

.footer-nav-mobile:hover {
	color: skyblue;
	transition: 0.3s;
}

@media(min-width:768px) {
	.body {
		margin:0 39rem;
	}

	p {
		font-size: 1.2rem;
	}
	.header-nav {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.header-nav a {
		background-color:rgb(250, 250, 250);
	}

	.header-nav li {
		margin-right: 1rem;
		margin-left: 1rem;
	}

	.intro {
		display: flex;
		flex-direction: row-reverse;
		padding-bottom: 1rem;
	}

  .intro p {
		text-align: left;
		padding-right: 1rem;
		padding-left: 1rem;
	}

	.profile-image {
		width: 40%;
		padding-right: 1rem;
		padding-bottom: 0;
	}

	.skills {
		padding-bottom: 2.5rem;
	}

	.portfolio li {
		width: 48%;
		margin-bottom: 2rem;
	}

	.portfolio ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 3rem;
		margin-left: 3%;
		margin-right: 3%;
	}

	.portfolio p {
		width: 90%;
	}
	
	.contact h4 {
		padding-top: 1rem;
	}
	.contact1 {
		width: 80%;
	  padding-bottom: 1rem;
		font-family: 'Roboto Condensed', sans-serif;
		letter-spacing: 2px;
	}

	.contact2 {
		width: 80%;
		padding-top: 1.5rem;
		padding-bottom: 3rem;
	}
  .main-footer {
		padding-top: 1rem;
		padding-bottom: 2rem;
	}
	.footer-nav-mobile{
		display: none;
	}
	
	.footer-nav {
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between;
	}
	.footer-nav li {
		padding-right: 1rem;
		padding-right: 1rem;
		align-self: center;
	}
	.footer-nav a{
		display: block;
		font-weight: bolder;
		color: black;
	}

	.footer-nav a:hover {
		color: skyblue;
		transition: 0.3s;
	}
}

@media(min-width:1024px) {
	.main-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.header-name {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.header-nav a {
		background-color:rgb(250, 250, 250);
	}

 .header-nav {
	 text-align: right;
 }

 .header-nav li {
	margin-right:0;
	align-self: flex-end;
 }

 .header-nav a {
	padding: 0;
	margin:0 auto;
 }

 .intro {
	 padding: 1.5rem;
 }

 .profile-image {
	 padding: 0;
 }

 .intro p {
	 padding-right: 2rem;
	 padding-left: 0;
 }

 .portfolio li {
	width: 32%;
	margin-bottom: 2rem;
}
.portfolio h4 {
	padding-top: 1rem;
	padding-bottom: 0.5rem;
}

.portfolio p{
	font-size: 1rem;
}
.contact1 {
	width: 60%;
}
}










